<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tufa Routes</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- bootstrap --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css"/>
  {{!-- Jquery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
  {{!-- Googlefonts --}}
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  <h1>Main Loaded</h1>
	{{{ body }}}
	<script src="/assets/javascript/app.js" type="text/javascript"></script>
</body>

</html>
